<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  <meta charset="UTF-8">

  @section("head-meta")
  @include("/include/head/meta.html")
  @endsection

  @section("head-link")
  @include("/include/head/link.html")
  @endsection

  @section("head-js")
  @include("/include/head/js.html")
  @endsection
</head>
<body>
@section("body-start")
@include("/include/body-start.html")
@endsection

<!-- ヘッダー -->
@section("header")
@include("/include/header.html")
@endsection

<!-- ※管理用パーツ -->
@section("admin-part")
@include("/admin/action.html")
@include("/admin/switch-user.html")
@endsection

<main>
  @section("main")
  <p>継承してメインコンテンツを設定してください</p>

  <!-- 確認用テンプレート -->
  @include("/include/check-seo.html")
  @endsection
</main>

<!-- オフキャンバス -->
@include("/include/components/offcanvas.html")

<!-- フッター -->
@section("footer")
@include("/include/footer.html")
@endsection

@section("body-end")
@include("/include/body-end.html")
@endsection
</body>
</html>
