<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  <meta charset="UTF-8">

  @section("head-meta")
  @include("/include/head/meta.html")
  @endsection

  @section("head-link")
  @include("/include/head/link.html")
  @endsection

  @section("head-js")
  @include("/include/head/js.html")
  @endsection
</head>
<body class="text-gray-700">
@section("body-start")
@include("/include/body-start.html")
@endsection

<!-- ヘッダー -->
@section("header")
@include("/include/header.html")
@endsection

<!-- ※管理用パーツ -->
@section("admin-part")
@include("/admin/action.html")
@include("/admin/switch-user.html")
@endsection

<div class="container py-20">
  @section("topicpath")
  <!-- BEGIN_MODULE Touch_NotTop -->
  <div class="mb-10">
    @include("/include/topicpath.html")
  </div>
  <!-- END_MODULE Touch_NotTop -->
  @endsection

  <div
    x-data="sideMenu"
    class="grid grid-cols-1 gap-x-10 gap-y-20 lg:grid-cols-[minmax(0,_1fr)_288px] lg:gap-x-20"
  >
    <main>
      @section("main")
      <p>継承してメインコンテンツを設定してください</p>

      <!-- 確認用テンプレート -->
      @include("/include/check-seo.html")
      @endsection
    </main>

    <aside class="lg:block z-20">
      <div class="max-lg:max-h-full max-lg:overflow-auto">
        @section("aside")
        <section>
          <h2 class="mb-4 text-gray-900 font-bold">カテゴリー</h2>
          @include("/include/category/list-side.html",)
        </section>
        
        <section class="mt-8">
          <h2 class="mb-4 text-gray-900 font-bold">アーカイブ</h2>
          @include("/include/entry/archive-list-side.html")
        </section>
        
        <section class="mt-8">
          <h2 class="mb-5 text-gray-900 font-bold">ハッシュタグ</h2>
          @include("/include/tag/cloud-side.html")
        </section>
        
        <section class="mt-8">
          <h2 class="sr-only">キーワード検索</h2>
          @include("/include/parts/search-keyword.html")
        </section>
        @endsection
      </div>
    </aside>
  </div>
</div>

<!-- フッター -->
@section("footer")
@include("/include/footer.html")
@endsection

@section("body-end")
@include("/include/body-end.html")
@endsection
</body>
</html>
