<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  <meta charset="UTF-8">

  @section("head-meta")
  @include("/include/head/meta.html")
  @endsection

  @section("head-link")
  @include("/include/head/link.html")
  @endsection

  @section("head-js")
  @include("/include/head/js.html")
  @endsection
</head>
<body>
@section("body-start")
@include("/include/body-start.html")
@endsection

<!-- ヘッダー -->
@section("header")
@include("/include/header.html")
@endsection

<!-- ページタイトル -->
@section("page-title")
@include("/include/parts/page-title.html")
@endsection

<!-- ※管理用パーツ -->
@section("admin-part")
@include("/admin/action.html")
@include("/admin/switch-user.html")
@endsection

<div class="container mx-auto px-4 py-20">
  @section("topicpath")
  <div class="mb-10">
  @include("/include/topicpath.html")
  </div>
  @endsection

  <div
    x-data="{ showSideMenu: false }"
    class="grid grid-cols-1 gap-x-10 gap-y-20 lg:grid-cols-[minmax(0,_1fr)_288px] lg:gap-x-20"
  >
    <main>
      @section("main")
      <p>継承してメインコンテンツを設定してください</p>

      <!-- 確認用テンプレート -->
      @include("/include/check-seo.html")
      @endsection
    </main>

    <aside class="lg:block" :class="{'block': showSideMenu, 'hidden': !showSideMenu }">
      <div class="fixed inset-0 bg-black bg-opacity-30"
        x-show="showSideMenu"
        x-transition
        @click="showSideMenu = false"
      ></div>
      <div class="max-lg:fixed top-0 right-0 bottom-0 max-lg:p-6 bg-white transition-transform" :class="{'max-lg:translate-x-0': showSideMenu }">
        <div class="max-lg:max-h-full max-lg:overflow-auto">
          @section("aside")
          <section>
            <h2 class="mb-5 text-gray-800 text-xl font-bold">カテゴリー</h2>
            @include("/include/category/list-side.html",)
          </section>
          
          <section class="mt-12">
            <h2 class="mb-5 text-gray-800 text-xl font-bold">アーカイブ</h2>
            @include("/include/entry/archive-list-side.html")
          </section>
          
          <section class="mt-12">
            <h2 class="mb-5 text-gray-800 text-xl font-bold">ハッシュタグ</h2>
            @include("/include/tag/cloud-side.html")
          </section>
          
          <section class="mt-8">
            <h2 class="sr-only">キーワード検索</h2>
            @include("/include/parts/search-keyword.html")
          </section>
          
          <section class="mt-12">
            <h2 class="text-gray-800 text-xl font-bold">プロフィール</h2>
            @include("/include/parts/profile-card.html")
          </section>
          @endsection
        </div>
      </div>
    </aside>

    <button class="fixed right-6 bottom-6 inline-flex items-center justify-center lg:hidden px-2 py-2 text-sm font-medium tracking-wide transition-colors duration-200 bg-white border rounded-md text-gray-800 hover:text-neutral-700 border-neutral-200/70 hover:bg-neutral-100 active:bg-white focus:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-200/60 focus:shadow-outline" @click="showSideMenu = !showSideMenu" aria-label="サイドメニュー表示切替">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
        <path fill-rule="evenodd" d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</div>
<!-- CTAセクション -->
@section("cta")
@include("/include/parts/cta.html")
@endsection

<!-- フッター -->
@section("footer")
@include("/include/footer.html")
@endsection

@section("body-end")
@include("/include/body-end.html")
@endsection
</body>
</html>
